@import url('https://fonts.googleapis.com/css2?family=Adamina&family=Roboto:ital@1&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Adamina, sans-serif;
    font-weight: 300;
    color: #212F30;
}

/* heading logo and nav */

header {
    height: 150px;
    width: 100%;
    background-color: #CDABED;
}

h1,
h2 {
    font-family: Roboto, sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #111818
}

#logo {
    float: left;
    font-size: 290%;
    font-weight: 800;
    margin-left: 50px;
}

#menu {
    font-size: 115%;
    letter-spacing: 3px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 32px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu,
#logo {
    line-height: 140px;
}

#menu a:hover {
    color: red;
}