@import url('https://fonts.googleapis.com/css2?family=Adamina&family=Roboto:ital@1&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
}

body {
    font-family: Adamina, sans-serif;
    font-weight: 300;
    color: #212F30;
}

/* heading logo and nav */

header {
    height: 150px;
    width: 100%;
    background-color: #CDABED;
}

h1 {
    font-family: Roboto, sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #111818
}

#logo {
    float: left;
    font-size: 320%;
    font-weight: 900;
    margin-left: 50px;
}

#menu {
    font-size: 115%;
    letter-spacing: 3px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 32px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu,
#logo {
    line-height: 140px;
}

#menu a:hover {
    color: red;
}

/* main body section */

#main-section {
    min-height: 600px;
    width: 100%;
    background-color: #FFC2EE;
    /* display: inline-block; */
}

#img1 {
    display: flex;
    max-width: 680px;
    border: 2px solid black;
    border-radius: 10px;
    float: left;
    justify-content: center;
    margin-top: 72px;
    margin-left: 42px;
    margin-right: 60px;
}

.right-side {
    line-height: 45px;
    padding-top: 140px;
}


/* About Us section */

#about-us {
    height: 600px;
    width: 100%;
    margin: 0 auto;
    background-color: #CDABED;
}

#about-us h2 {
    padding-top: 42px;
    margin-left: 42px;
}

#about-us h3 {
    line-height: 45px;
    margin-left: 42px;
}

#about-us p {
    margin-left: 42px;
    max-width: 1150px;
}


/* form section */

#form-section h2 {
    padding: 0 0 22px 42px
}

#form-section {
    height: 600px;
    width: 100%;
    background-color: #FFC2EE;
}

.signup-container {
    width: 350px;
    float: left;
    margin-left: 42px;
    margin-top: 42px;
    padding: 20px;
    background-color: #CDABED;
    border-radius: 10px;
    line-height: 25px;
}

.form-group label {
    display: block;
    margin-top: 10px;
    margin-left: 42px;
}

div input {
    margin-left: 42px;
    padding: 4px;
    border-radius: 3px;
    background-color: #FFC2EE;
    width: 200px;
}

.submit-button {
    margin-top: 20px;
    margin-left: 42px;
    padding: 10px 10px 10px 10px;
    border-radius: 4px;
    background-color: #FFC2EE;

}